<html>
	<head>
<script type="text/javascript">
	function refreshOpener() {
		window.opener.location.reload();
		window.close();	
	}
</script>
		
	</head>
	<body onLoad="refreshOpener();">
		
	</body>
</html>
