<h2><%=l(:label_arch_decision_new)%></h2>

<%= labelled_form_for @arch_decision, :url => { :project_id => @project.id, :action => "new" } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>

<%= submit_tag l(:button_save), :tabindex => autotab %>
<% end %>
