<%= l(:text_arch_decision_added, :identifier => "##{@arch_decision.id}", :author => @arch_decision.created_by) %>
<hr />
<%= render :partial => "arch_decision_text_html", :locals => { :arch_decision => @arch_decision, :arch_decision_url => @arch_decision_url } %>
