<h2><%=t(:label_factor_new_html)%></h2>

<%= labelled_form_for @factor, :url => { :project_id => @project.id, :action => "new" } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>

<%= submit_tag l(:button_save), :tabindex => autotab %>
<% end %>
