<h2><%=l(:label_factor_new)%></h2>

<% labelled_tabular_form_for :factor, @factor, :url => { :action => "new" } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>

<%= submit_tag l(:button_save) %>
<% end %>
